:root {
  --navbar-title-color: #99a9b5;
  --hover-color: #00bcd4;
  --dark-background: #2b2d3d;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
