.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: var(--dark-gray-blue);
}

.header__logo-image {
  margin-right: 8px;
  margin-top: -8px;
}

.header__logo-brand {
  font-size: 1.6875rem;
  padding: 0.3125rem 0;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__list-item {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-gray-blue);
}

.header__list-item:hover {
  text-decoration: underline;
  color: var(--light-blue);
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__tools {
  gap: 1rem;
  font-size: 0.875rem;
  padding: 0.5rem 0;
  margin-left: 1rem;
}

.header__tool {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  color: var(--light-gray-blue);
}

.header__tool:hover {
  color: var(--light-blue);
}

.header__item--current {
  border: 2px solid #ffffff;
}

.header__tool-cart-count {
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  margin-left: 0.625rem;
  background-color: var(--light-blue);
  position: relative;
}

.header__tool-cart-count::before {
  content: "";
  position: absolute;
  right: 100%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--light-blue) transparent transparent;
}

/* Handle click menu toggle -> show menu */
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}

.header__toggle:checked ~ .header__overlay {
  display: block;
}

.header__toggle:checked ~ .header__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: calc(100% - 250px);
  width: 250px;
  padding: 0.167rem 0;
  z-index: 10;
  transition: 0.3s ease-in-out;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header__toggle:checked ~ .header__list .header__list-item {
  color: unset;
  width: 100%;
  border-color: black;
}

.header__toggle:checked ~ .header__list .header__list-item:hover {
  background-color: var(--dark-gray-blue);
  color: var(--light-blue);
}

.header__toggle:checked ~ .header__list .header__list-item:first-child {
  width: unset;
  font-size: 1.25rem;
  align-self: flex-end;
}

.header__list:has(.header__toggle--close:focus) {
  display: none;
}
