.pricing-table {
    font-family:  "Source Sans 3", sans-serif;
    line-height: normal;
    color: #5f727f;
    font-size: calc(1rem*var(--size-multiplier));
    width: 100%;
}

.pricing-table__pricing {
    position: absolute;
    left: 44px;
    top: calc(-272px*var(--size-multiplier));
    width: calc(122px*var(--size-multiplier));
    height: calc(122px*var(--size-multiplier));
    border-radius: 50%;
    background-color: #393d50;
    transform: translateY(-50%);
}

.pricing-table__price {
    font-size: calc(2rem*var(--size-multiplier));
    font-weight: lighter;
}

.pricing-table__period {
    color: #99a9b5; 
    font-size: calc(1rem*var(--size-multiplier));
}

.pricing-table__title {
    min-height: calc(272px*var(--size-multiplier));
    font-size: calc(2.25rem*var(--size-multiplier)*var(--size-multiplier-sub));
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    position: relative;
    width: 100%;
}

.pricing-table__main-title {
    font-size: inherit;
    font-weight: bold;
}

.pricing-table__sub-title {
    font-size: inherit;
    font-weight: 300;
}

.pricing-table__title-annotation {
    font-size: calc(0.875rem*var(--size-multiplier));
    font-family:  "Source Sans 3", sans-serif;
    text-transform: none;
}

.pricing-table__content {
    position: relative;
    box-shadow: 0 0 0 1px #dfe5e7;
}

.pricing-table__subtitle-main {
    font-size: calc(1.5rem * var(--size-multiplier));
    color: #5f727f;
    font-weight: lighter;
}

.pricing-table__subtitle-secondary {
    font-size: calc(0.875rem * var(--size-multiplier));
    color: #99a9b5;
    font-weight: lighter;
}

.pricing-table__feature {
    font-size: calc(1rem*var(--size-multiplier));
    color: #5f727f;
    padding-left: 48px;
    padding-right: 48px;
    gap: 1rem;
}
 
.pricing-table__feature:nth-child(even) {
    background-color: #ffffff;
}

.pricing-table__feature:nth-child(odd) {
    background-color: #F4F6F7;
}

.pricing-table__checkbox {
    position: relative;
}

.pricing-table__checkbox--unchecked {
    position: absolute;
    font-size: calc(1rem*var(--size-multiplier));
}

.pricing-table__checkbox--checked {
    transform: translate(10%, -12%);
    font-size: calc(1rem*var(--size-multiplier));
}

.pricing-table__button {
    position: relative;
    left: calc(48px*var(--size-multiplier));
    border: none;
    line-height: normal;
    height: calc(50px*var(--size-multiplier));
    background-color: #b6c6c9;
    color: #ffffff;
    font-size: calc(1.1875rem*var(--size-multiplier));
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 35px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.pricing-table__button:hover {
    background-color: #2c2e3d;
}

.pricing-table__button:hover + .pricing-table__pricing {
    background-color: #2c2e3d;
}

.pricing-table__badge {
    position: absolute;
    right: -42%;
}

.pricing-table__badge-icon {
    width: calc(100%*var(--size-multiplier));
    height: calc(100%*var(--size-multiplier));
}

.pricing-table__badge-text {
    position: absolute;
    color: #ffffff;
    font-size: calc(0.75rem*var(--size-multiplier));
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.pricing-table__title--basic {
    background-color: var(--light-blue);
}

.pricing-table__title--advanced {
    background-color: var(--sky-blue-dark);
}

.pricing-table__title--life {
    background-color: var(--purple-medium);
}

.pricing-table__price--basic {
    color: #04D7F2;
}

.pricing-table__price--advanced {
    color: #1aa3e1;
}

.pricing-table__price--life {
    color: #9986ff;
}
