:root {
    --navbar-title-color: #99a9b5;
    --hover-color: #00bcd4;
}

.container {
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
    background-color: #2b2d3d;
}

.header__logo {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
}

.header__logo__img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.header__logo__title {
    font-size: 2.7rem;
    font-weight: bold;
    color: #ffffff;
}

.header__navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__navbar-item {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--navbar-title-color);
    display: inline-flex;
    align-items: center;
}

.header__feature {
    display: flex;
    margin: 0 1.6rem;
    gap: 1.6rem;
    font-size: 1.4rem;
    padding: 0.8rem 0;
}

.header__feature-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--navbar-title-color);
}

.header__navbar-item:hover,
.header__feature-item:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.header__navbar-item--current {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.header__cart--count {
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0 0.8rem;
    margin: 0 1.6rem;
    background-color: var(--hover-color);
    position: relative;
}

.header__cart--count::before {
    content: "";
    position: absolute;
    right: 100%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--hover-color) transparent transparent ;
}
