:root {
  --navbar-title-color: #99a9b5;
  --hover-color: #00bcd4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6rem 1rem;
  background-color: #2b2d3d;
  z-index: 200;
}

.navbar__logo {
  display: inline-flex;
}

.navbar__logo-image {
  margin-right: 8px;
  margin-top: -8px;
}

.navbar-brand {
  display: inline-block;
  font-size: 2.7rem;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
}

.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--navbar-title-color);
}

.nav-item:hover {
    color: var(--hover-color);
}

.nav-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.navbar__tools {
  display: flex;
  gap: 1.6rem;
  font-size: 1.4rem;
  padding: 0.8rem 0;
  margin-left: 1.6rem;
  align-items: center;
}

.navbar__tools-item {
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--navbar-title-color);
}

.navbar-item:hover,
.navbar__tools-item:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.navbar-item--current {
  border: 2px solid #ffffff;
}

.navbar__cart--count {
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0 0.8rem;
  margin-left: 1.6rem;
  background-color: var(--hover-color);
  position: relative;
}

.navbar__cart--count::before {
  content: "";
  position: absolute;
  right: 100%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--hover-color) transparent transparent;
}

.navbar__toggle-label {
  display: none;
}

i.fa-solid {
  vertical-align: middle;
}

.navbar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}

.nav__close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    font-size: 1.6rem;
}
