:root {
    --navbar-title-color: #99a9b5;
    --hover-color: #00bcd4;
}

.container {
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
    background-color: #2b2d3d;
}

.header__logo {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
}

.header__logo__img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.header__logo__title {
    font-size: 2.7rem;
    font-weight: bold;
    color: #ffffff;
}

.header__navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__navbar-item {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--navbar-title-color);
    display: inline-flex;
    align-items: center;
}

.header__feature {
    display: flex;
    gap: 1.6rem;
    font-size: 1.4rem;
    padding: 0.8rem 0;
    margin-left: 1.6rem;
}

.header__feature-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--navbar-title-color);
}

.header__navbar-item:hover,
.header__feature-item:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.header__navbar-item--current {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.header__cart--count {
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0 0.8rem;
    margin-left: 1.6rem;
    background-color: var(--hover-color);
    position: relative;
}

.header__cart--count::before {
    content: "";
    position: absolute;
    right: 100%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--hover-color) transparent transparent ;
}

/* Header Responsive */
@media screen and (max-width: 1140px) {
    .header__logo {
        margin-right: 2rem;
    }

    .header__navbar-item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
 
    .header__logo__title {
        font-size: 1.4rem;
    }
    .header__logo__img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 960px) {
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1rem;
    }

    .header__navbar {
        flex-basis: 100%;
        display: none;
    }

    .header__logo__title {
        font-size: 2.7rem;
    }

    .header__logo__img {
        width: 40px;
        height: 40px;
    }
    
}

@media screen and (max-width: 768px) {
    .header__logo__title {
        font-size: 2rem;
    }

    .header__feature-item {
        font-size: 1.4rem;
    }

    .header__cart--count {
        font-size: 1.2rem;
        padding: 0 0.6rem;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 430px) {
    .header__logo {
        margin-right: 0;
    }

    .header__logo__title {
        font-size: 1.4rem;
    }
    
    .header__logo__img {
        width: 30px;
        height: 30px;
    }

    .header__feature {
        gap: 0.8rem;
    }

    .header__feature-item {
        font-size: 1.2rem;
    }

    .header__cart--count {
        font-size: 1rem;
        padding: 0 0.4rem;
        margin: 0 0.8rem;
    }
}

@media screen and (min-width: 961px) {
    .header__menu-toggle {
        display: none;
    }
}
